td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
h3{
	
	width: 50%; /* set width of last column to 60% */
}
table{
	width: 80%; /* set width of last column to 60% */
	
}
.Column{
	width: 50%; /* set width of last column to 60% */
}
.textbold{
	font-weight: bold;
}
.textcenter{
	text-align: center;
}
.textright{
	text-align: right;
}